@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.registration {
  background-color: blueviolet;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 13px;
}
.authForm{
  background-color: rgb(163, 208, 208);
  padding: 10px;
  width: 200px;
  border-radius: 13px;
}

.heading{
  text-align: center;
  margin-top: 150px;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  display: flex;
  
}
.navitem {
  margin: 10px;
  padding: 5px;
  background-color: blue;
  border-radius: 3px; 
  
  
}

.button{
  background-color: rgb(165, 233, 5);
  border: 1px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 65px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}






